@import url("../page.css");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 12px;
  height: 53px;
  border-bottom: 2px solid #ffbf00;
  background: linear-gradient(180deg, #2a1919 0%, #bf8063 100%);
  border-radius: 8px;
  gap: 8px;
  box-sizing: border-box;
}

.input-container input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  font-size: 19px;
  color: #ffbf00;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
}
